# --- Podstawa API ---
fastapi
uvicorn[standard]
pydantic
requests

# --- Baza danych (Async) ---
sqlalchemy
asyncpg

# --- Bezpieczeństwo i JWT ---
python-jose[cryptography]
passlib[bcrypt]
python-multipart
# KLUCZOWA POPRAWKA do Bezpieczeństwo i JWT:
bcrypt==3.2.0

# --- Testowanie (z Labów 6/7) ---
pytest
pytest-asyncio
httpx
testcontainers